.imageSmallContainer {
	height: 44px;
	width: 44px;
	border-radius: 4px;
	object-fit: cover;
	object-position: center center;
	overflow: hidden;
	cursor: pointer;
	position: relative;
}

.imageSmall {
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
}
