.header {
	width: 100%;
	padding: 16px;
	border-radius: 6px;
	background-color: rgba(151, 151, 170, 0.22);
	display: flex;
	justify-content: space-between;
}

.spacing {
	width: 100%;
	padding: 8px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 4px;
}

.spacing > div,
.header > div {
	flex-basis: 40%;
	display: flex;
	align-items: center;
}

.spacing > div:nth-child(1) {
  padding-left: 20px;
}
