.container {
  display: flex;
}

.handleWrapper {
  position: relative;
  display: flex;
  width: 100%;
}
.handleContainer {
  position: relative;
  display: flex;
  align-items: center;
  height: 48px;
  flex: 1;
}

.bar {
  height: 14px;
  border-radius: 100px;
  background-color: var(--fuschia);
  position: relative;

  width: 100%;
}

.circle {
  height: 48px;
  width: 48px;
  border-radius: 200px;
  background: linear-gradient(180deg, #2a333e 0%, #595e64 95.31%);
  position: absolute;
  right: 0;
  transform: translateX(8%);

  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}
