.container {
  padding: 16px 0;
  padding-left: 32px;
  border-left: 4px solid transparent;
  position: relative;
  display: flex;
}

.iconBox {
  margin-right: 16px;
  position: relative;
}

.iconBox__overlay {
  position: absolute;
  top: 0;
  left: 0;
}
