.contentContainer {
	flex: 1 0;
}

.container {
	padding-top: 32px;
}

.cardContainer {
	padding: 32px;
	border-radius: 12px;
}

.navContainer {
	width: 100%;
}

.pageContainer {
	width: 100%;
	overflow-y: auto;
	padding: 0 50px;
}

.col_1 {
	flex-basis: 50%;
	/* @apply mr-8; */
  @apply mr-10
}

.col_2 {
	flex-basis: 50%;
}

.descriptionContainer {
	max-width: 470px;
	width: fit-content;
}

.descriptionCard {
	border: var(--card-border);
	border-radius: 8px;
	max-width: 500px;
	padding: 8px;
}

.descriptionBanner {
	padding: 8px 16px;
	display: flex;
	justify-content: space-between;
	width: 100%;
	background-color: var(--text-body);
	border-radius: 6px;
}

.descriptionCell {
	padding: 10px;
	padding-right: 80px;
}

.descriptionBody {
	padding: 8px 16px;
}

.table {
	max-width: 490px;
	width: 100%;
}

.table thead tr td {
	padding: 18px 16px;
	background-color: var(--text-body);
	border-radius: 6px;
}

.table thead {
	border-bottom: 10px solid transparent;
}

.table thead::after {
	display: block;
	height: 8px;
	content: " ";
}

.table tbody tr td {
	padding: 8px 16px;
}

.table tbody tr td:nth-child(2) {
	text-align: center;
	padding-left: 24px;
}
